.board-card {
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  border-radius: 2rem !important;

}

.board-card:hover .board-card-img {
  filter: brightness(80%);
  border: none !important;
  box-shadow: none !important;
}

.board-card-img {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  height: 90px;
  object-fit: cover;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* Card body */
.board-card-body {
  background: transparent;
  padding: 6px;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.title {
  color: #bfc1c4 !important;
}

/* Action icons */
.card-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 10px;
  opacity: 0; /* hidden by default */
  transition: opacity 0.2s;
}

.board-card:hover .card-actions {
  opacity: 1;
}

.card-actions i {
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.board-card .card-body {
  padding: 6px;
}


.add-board{
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;  
  height: 120px;  
}