

.container{
  margin-top: 7%
}
/* Sidebar container */
.col-3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* All sidebar items */
.sidebar-item {
  padding: 12px 15px;
  color: #9fadbc;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

/* Hover effect */
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

/* Active tab */
.sidebar-item.active {
  border-left: 4px solid #0d6efd;
  color: #fff;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.05);
}

/* Bottom border only for first three tabs container */
.sidebar-main {
  border-bottom: 1px solid #2a2a2a;
  margin-bottom: 10px;
  border-radius: 0;
}

/* Optional spacing for other tabs */
.sidebar-other .sidebar-item {
  margin-bottom: 5px;
}


@media (max-width: 991px) {
  .container {
    margin-top: 10%;
  }
  
}
@media (max-width: 768px) {
  .container{
    margin-top: 15%;
  }
}
@media (max-width: 450px) {
  .container{
    margin-top: 20%;
  }
  .header-with-icon h4 {
    font-size: 14px !important;
    
  }
  .header-with-icon span{
    font-size: 14px !important;
  }
  .sidebar-item{
    font-size: 12px !important;
  }
}


.header-with-icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}

.header-with-icon h4 {
  white-space: nowrap;
  margin-bottom: 0;
}
