.container {
  margin-top: 7%;
}

.header-with-icon h4 {
  color: #bfc1c4;
}

.bi {
  color: #bfc1c4;
}

@media (max-width: 991px) {
  .container {
    margin-top: 10%;
  }
}
@media (max-width: 768px) {
  .container {
    margin-top: 15%;
  }
  
}
@media (max-width: 450px) {
  .container {
    margin-top: 20%;
  }
  .header-with-icon h4 {
    font-size: 14px !important;
  }
  .header-with-icon span {
    font-size: 14px !important;
  }
  .sidebar-item {
    font-size: 12px !important;
  }
}

.header-with-icon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}

.header-with-icon h4 {
  white-space: nowrap;
  margin-bottom: 0;
}
.workspace-title,
.workspace-badge {
  color: #bfc1c498;
}
.workspace-badge {
  background-color: #5498ff;
  font-size: 10px !important;
  margin-bottom: 5px;
}
.workspace-description {
  color: #797a7c98;
}

.del-modal {
  color: #bfc1c4;
}
.workspace-btn {
  font-size: 15px !important;
  padding: 1px 10px;
  background-color: rgba(255, 255, 255, 0.274);
  border: none;
  border-radius: 3px;
  color: #bfc1c4 !important;
}

.workspace-btn:hover {
  background-color: rgba(255, 255, 255, 0.375);
}

.create-card {
  width: 200px;
max-width: 200px;
height: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.create-card-body {
  color: #bfc1c4 !important;
  padding-top: 20%;
  text-align: center;
  font-size: 14px;
}

.create-card:hover {
  filter: brightness(87%);
}

/* modal btn close */
/* .btn-close{
  color:#bfc1c4 !important;
} */
